<!DOCTYPE html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>
  <div class="wrapper">
    <div class="nav-wrapper">
      {{>nav}}
    </div>
    <div class="body-wrapper">
      {{{body}}}
    </div>
    <div class="footer-wrapper">
      {{>footer}}
    </div>
  </div>
</body>

</html>